<div class="navbar-fixed-top fixed-top banner px-5">
	<div class="row py-1">
		<div class="col-4"></div>
		<div class="col text-center align-self-center">
			<a class="center-block" href="#">
				<img src="/resources/images/logo_blue.png" width="40px" height="40px" alt="RushMe Logo">
			</a>
		</div>
		<div class="col-4 text-right align-self-center">			
			<a href="/login" class="btn bt-btn-link-light sign-in" data-toggle="tooltip" data-placement="bottom"
				title="Sign in">
				<i class="material-icons"></i>
			</a>
		</div>
	</div>
</div>