<!-- <script>
	$(window).scroll(function () {
		if ($(window).scrollTop() > 10) {
			$('#banner').addClass('shadow-sm');
		} else {
			$('#banner').removeClass('shadow-sm');
		}
	});
</script> -->
<div class="navbar-fixed-top fixed-top banner px-5">
	<div class="row py-1">
		<div class="col-4"></div>
		<div class="col text-center align-self-center">
			<a class="center-block" href="#">
				<img src="/resources/images/logo_blue.png" width="40px" height="40px" alt="RushMe Logo">
			</a>
		</div>
		<div class="col-4 text-right align-self-center">			
			<a href="/login" class="btn bt-btn-link-light sign-in" data-toggle="tooltip" data-placement="bottom"
				title="Sign in">
				<i class="material-icons"></i>
			</a>
		</div>
	</div>
</div>


<!-- <nav class="navbar navbar-fixed-top navbar-light bg-dark p-1">
	    <div class="container-fluid">
	        <div class="navbar-header">
	                <a class="navbar-brand" href="#">Brand</a>
	        </div>
	    </div>
	</nav> -->

<!--  -->


<!-- <div class="row w-100">
	            <div class="col"></div>
	            <div class="col text-center">
	                        <a class="navbar-brand py-0" href="/#!/">
	                            <img src="/resources/images/logo.png" width="48px" height="48px" alt="RushMe Logo">
	                        </a>
	            </div>
	            <div class="col text-right my-auto px-0">
	                <button onclick="location.href = 'login';" type="button" class="btn rm-btn">Sign in</button>
	            </div>-->


<!--  -->

<!-- <nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../navbar/">Default</a></li>
						<li><a href="../navbar-static-top/">Static top</a></li>
						<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
					</ul>
				</div>
				<--/.nav-collapse -->
<!-- </div> -->
<!-- </nav> -->