<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light p-1">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col"></div>
            <div class="col text-center">
                        <a class="navbar-brand py-0" href="/#!/">
                            <img src="/resources/images/logo.png" width="48px" height="48px" alt="RushMe Logo">
                        </a>
            </div>
            <div class="col text-right my-auto px-0">
                <button onclick="location.href = 'login';" type="button" class="btn rm-btn">Sign in</button>
            </div>
        </div>
    </div>
</nav>
