<!-- <div ng-include="'views/partials/bye.html'"></div> -->
<h2 class="rm-section-header">Events</h2>
<center>
<div id="carouselExampleControls" class="carousel slide" data-interval="0">
  <div class="carousel-inner">
    <div class="carousel-item active carousel-lbl">
      <h3>Tuesday October 18 2019</h3>
    </div>
    <div class="carousel-item carousel-lbl">
      <h3>Wednesday October 19 2019</h3>
    </div>
    <div class="carousel-item carousel-lbl">
      <h3>Thursday October 20 2019</h3>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
</center>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Fraternity</th>
        <th scope="col">Title</th>
        <th scope="col">Time</th>
        <!-- <th scope="col">Location</th> -->
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row"></th> -->
        <td><span class="badge rm-badge published">PUBLISHED</span></td>
        <td>Tau Epsilon Phi</td>

        <td>Taco Bell Tuesday</td>
        <td>5:00 PM</td>
        <!-- <td>Taco Bell near HVCC</td> -->
        <!-- <td>
          <button type="button" class="btn btn-secondary">Edit</button>
        </td> -->
      </tr>
      <tr>
        <!-- <th scope="row"></th> -->
        <td><span class="badge rm-badge unpublished">PUBLISHED</span></td>
        <td>Tau Epsilon Phi</td>
        <td>Taco Bell Tuesday</td>
        <td>5:00 PM</td>

        <!-- <td>Taco Bell near HVCC</td> -->
        <!-- <td>
          <!-- <button type="button" class="btn btn-secondary">Edit</button> -->
          <!-- <i class="material-icons">edit</i> -->
         <!-- </td> -->
      </tr>

    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".eventDetail">Event Detail</button>

<div class="modal fade eventDetail" tabindex="-1" role="dialog" aria-labelledby="eventDetailLabel" aria-hidden="true">
        <div ng-include="'views/partials/event-detail.html'"></div>
</div>
