<!-- <div ng-include="'views/partials/bye.html'"></div> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventDetailLabel">Fraternity Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
          <form class="inline">

            <div class="form-row">
              <div class="col">
                <div class="form-group">
                        <label  id="code" class="col-form-label">Code</label>
                        <input type="text" class="form-control" id="code" placeholder="ACA" required>
                      </div>
              </div>
              <div class="col">
                <div class="form-group">
                        <label id="members" class="col-form-label">Members</label>
                        <input type="text" class="form-control" id="members" required>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label  class="col-form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="110 8th St Troy NY" required>
            </div>

            <div class="form-group">
              <label id="description" class="col-form-label">Description</label>
              <textarea class="form-control" id="description" placeholder="Come meet our house and see what Greek Life has to offer!" required></textarea>
            </div>


            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label id="contact" class="col-form-label">Contact</label>
                  <input type="email" class="form-control" id="contact" placeholder="person@email.com" required>
                </div>
                 <button type="button" class="btn btn-primary">Reset Password</button>
              </div>
            </div>

          
          </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>

  </div>
</div>
