<!-- <div ng-include="'views/partials/bye.html'"></div> -->
<h2 class="rm-section-header">Fraternities</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col"># of events</th>
        <th scope="col">Primary Contact</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="frat in fraternaties">
        <td ng-if="frat.published"><span class="badge rm-badge published">PUBLISHED</span></td>
        <td ng-if="!frat.published"><span class="badge rm-badge unpublished">UNPUBLISHED</span></td>
        <td>{{frat.name}}</td>
        <td>{{frat.namekey}}</td>
        <td>21 (Hardcoded)</td>
        <td><a ng-href="mailto:{{frat.contact.email}}">{{frat.contact.name}}</a></td>
        <td>
          <button type="button" class="btn btn-secondary">Edit</button>
          <button type="button" class="btn btn-secondary">Add Event</button>
        </td>
      </tr>
      <!--
      <tr>
        <td><span class="badge rm-badge published">PUBLISHED</span></td>
        <td>Resnsselaer Polytechnic Society of Engineers</td>
        <td>RSE</td>
        <td>21</td>
        <td><a href="mailto:manidk@rpi.edu">Kelta Manidman</a></td>
        <td>
          <button type="button" class="btn btn-secondary">Edit</button>
          <button type="button" class="btn btn-secondary">Add Event</button>
        </td>
      </tr>
      <tr>
        <td><span class="badge rm-badge unpublished">UNPUBLISHED</span></td>
        <td>Acacia</td>
        <td>ACA</td>
        <td>25</td>
        <td><a href="mailto:indhal@rpi.edu">Larry Indhal</a></td>
        <td>
          <button type="button" class="btn btn-secondary">Edit</button>
          <button type="button" class="btn btn-secondary">Add Event</button>
        </td>
      </tr>
      -->
    </tbody>
  </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".fratDetail">Fraternity Detail</button>

<div class="modal fade fratDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
       <div ng-include="'views/partials/frat-detail.html'"></div>

</div>
