

<div class="container-fluid p-5" style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
    
    <div class="card-columns px-5">
        <div ng-repeat="frat in fraternities">
            <div class="card md-3" style="display: inline-block">
            <ngui-in-view>
                <img class="card-img-top" ng-src="https://{{rootURL}}/{{frat.namekey}}profsemi.jpg">
            </ngui-in-view>

                <div class="card-body">
                    <h5 class="card-title">{{frat.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{frat.address}}</h6>
                </div>
            </div>

        </div>
    </div>
</div>