nav {
  background-image: linear-gradient(220deg, #1a4276, #25a7df, #25a7df);
}

.rm-btn {
  color: white;
  opacity: 0.4;
  border: none;
  text-decoration: none;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.25em;
}

.rm-btn:hover {
  opacity: 1;
  color: white;
}

#coming-soon {
  padding-top: 20%;
  color: #082c45;
  font-family: Helvetica;
  font-weight: 100;
}
