.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #29abe2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

p {
    font-family: "Amazon Ember";
    color : white ;
}

h1 {
  font-family: "Amazon Ember";
  color: white;
}

h3 {
  font-family: "Amazon Ember";
  color: black;
  background-color: white;
}

body {
  background-color: #29abe2ff;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
